<ng-container *ngIf="workers.length > 0">
  <div class="row">
    <div class="col-12">
      <h5>{{ title }}</h5>
      <form [formGroup]="editFormGroup">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" [style.width]="'100px'">#</th>
            <th scope="col" [style.width]="'300px'">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col" [style.width]="'200px'">Моб.телефон</th>
            <th scope="col" [style.width]="'200px'"></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let worker of workers">
            <th scope="row">{{ worker.id }}</th>
            <ng-container *ngIf="editId !== worker.id; else editTemlate">
              <td>{{ worker.name }}</td>
              <td>{{ worker.surname }}</td>
              <td>{{ worker.phone }}</td>
            </ng-container>
            <ng-template #editTemlate>
              <td>
                  <input
                    formControlName="name"
                    type="text"
                    placeholder="Имя сотрудника"
                    class="form-control-sm form-control"
                  />
              </td>
              <td>
                  <input
                    formControlName="surname"
                    type="text"
                    placeholder="Фамилия сотрудника"
                    class="form-control-sm form-control"
                  />
              </td>
              <td>
                  <input
                    formControlName="phone"
                    type="text"
                    placeholder="Моб.телефон"
                    class="form-control-sm form-control"
                    [textMask]="{mask: mask}"
                  />
              </td>
              <td>
                  <select
                   class="custom-select custom-select-sm"
                   formControlName="type"
                   >
                    <option [ngValue]="myWorkerType.programmer">Программист</option>
                    <option [ngValue]="myWorkerType.designer">Дизайнер</option>
                    <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
                    <option [ngValue]="myWorkerType.manager">Менеджер</option>
                  </select>
              </td>
            </ng-template>
            <td>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="onDeleteWorker(worker.id)"
                type="button"
              >
                Удалить
              </button>
            </td>
            <td>
              <button
                class="btn btn-warning btn-sm"
                *ngIf="editId !== worker.id"
                type="button"
                (click)="onEditWorker(worker)"
              >
                Редактировать
              </button>
              <button
                class="btn btn-success btn-sm"
                *ngIf="editId === worker.id"
                (click)="onUpdateWorker()"
                type="submit"
                [disabled]="editFormGroup.invalid"
              > Принять </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    </div>
  </div>
</ng-container>
